<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Home</title>
</head>

<body>
    <div class="left">
        <div class="intro">
            <p class="big">Sign into your favorite school app now.</p>

            <p class="small">We offer syllabus help, scheduling and many other features</p>

        </div>
        <div class="signin_box">
            <form method="post" action="#">
                
                <div class="form-group mt-4"> 
                    <input type="email" id="mail" class="form-control" required> 
                    <label class="form-control-placeholder" for="mail">Email</label> 
                </div>
            </form>

        </div>
        
    </div>

    <div class="right">

    </div>

</body>
  
  
</html>