<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    
    <title>Home</title>
</head>

<body>
    <div class="left">
        <div class="intro">
            <p class="big">Sign into your favorite school app now.</p>

            <p class="small">We offer syllabus help, scheduling and many other features</p>

        </div>
        <div class="signin_box">
            <form>
                
            <div class="input-container">
                <input type="email" required/>
                <label>Email</label>		
            </div>
            <div class="input-container">		
                <input type="mail" required/>
                <label>Email</label>
            </div>
                <button type="button" class="btn">submit</button>
        </form>	
        </div>
        
    </div>

    <div class="right">

    </div>

</body>
  
  
</html>