<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/EdMain.css" />
    <title>Schedule Maker</title>
  </head>
  <body>
    <!--Header
    <header>
      <img
        class="logo"
        src="/static/images/ProBuggersLogo.png"
        alt="Team Logo"
      />
      <nav id="nav-bar">
        <ul class="nav-links">
          <li><a href="#">Account</a></li>
        </ul>
      </nav>
    </header>-->

    <!--Main-->
    <main>
      <div class="side-bar">
        <div class="classes">
          <p>Classes</p>
        </div>
        <div class="account-footer">
          <div class="acc-info">
            <a href="https://www.facebook.com/"
              ><img src="/static/images/user.png" alt="User Icon"
            /></a>
            <div class="acc-name">
              <p id="first-name">Name</p>
              <p id="last-name">Last Name</p>
            </div>
          </div>
        </div>
      </div>

      <div class="right-main-content"></div>
    </main>

    <!--Footer-->
    <footer></footer>
  </body>
</html>
