<!DOCTYPE html>
<html lang="en">  
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/EdMain.css" />
    <title>Schedule Maker</title>
  </head>
    <body>
        <!--Header-->
        <header>
            <div id="logo">
                <img
                    src="/static/images/Professional_Picture2.png"
                    alt="prfile picture"
                />
                <h1><a href="#">user</a></h1>
                <span>
                    <a href="https://www.uh.edu/" target="_blank"
                        >University of Houston</a
                    ></span
                >
            </div>
            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="#">Courses</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li id="about_us"><a href="#">About Us</a></li>
                </ul>
            </div>
        <!--Main-->
        <main>

        </main>
        <!--Footer-->
        <footer></footer>
    </body>
</html>
