<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400&display=swap");
    </style>
    <link rel="stylesheet" href="/static/styles/main.css">
    <title>Schedule Maker</title>
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/static/images/ProbuggerLogo.png"
        alt="Team Logo"
      />
      <nav id="nav-bar">
        <ul class="nav-links">
          <li><a href="#">Account</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
