<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
    
    <title>Home</title>
</head>

<body>
    <div class="left">
        <div class="intro">
            <p class="big">Sign into your favorite school app now.
                
            </p>
        </div>
        <div class="signin_box">
            <form id="signup_form" method="POST" action="#">  
                <div class="input-container">		
                    <input type="mail" name="signin_email" required/>
                    <label>Email</label>
                </div>
                <div class="input-container">		
                    <input type="password" name="signin_password" required/>
                    <label>Password</label>
                </div>
                <div class="flash_s">
                    {% for message in get_flashed_messages() %}
                      <p style="color: red; font-size: 13px;"><i>{{ message }}</i></p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn" style="background-color: orange;">Sign in</button>
            </form>	
            
        </div>
        
    </div>
    <div class="right">
        <img class="homepage_img" src="/static/images/homepage1.png" />
    </div>

</body>
  
  
</html>