* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #202020;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  color: #40514e;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #333333;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/********** LOGO STYLE ******/
header {
  position: relative;
  float: left;
  width: 300px;
  padding: 3em 0em;
}

#logo {
  text-align: center;
  margin-bottom: 4em;
}

#logo img {
  height: 100px;
  width: auto;
}

#logo h1 {
  display: block;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo span {
  padding-right: 0.5em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: rgb(211, 21, 21);
}

#logo span a {
  color: rgb(230, 14, 14);
}

#logo img {
  display: inline-block;
  margin-bottom: 0.8em;
  border-radius: 50%;
}

/********** MENU STYLE ******/
#menu li {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#menu li a,
#menu li span {
  display: block;
  padding: 2em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

#menu .current_page_item a {
  background: #11999e;
  color: rgba(255, 255, 255, 1);
}

#menu li:hover {
  background-color: #2980b9;
}

#menu #about_us {
  margin-top: auto;
}


/* ############## content boxes ############### */


.info_box{
    background-color: rgb(115, 115, 124);
    
    float: right;
    width: 50%;
    margin-right: 15%;
    height: 50vh;
    margin-top: 5%;
    border-radius: 3%;


}

.text_in_box{
    text-align: center;
    margin-top: 6%;
}
    
